.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.button-container {
  width: auto;
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  grid-gap: 0.2em;
}

.other-controls {
  display: flex;
  gap: 0.2em;
}

.calc-container {
  width: 214px;
}

.calculation {
  width: 100%;
  height: 50px;
  background: white;
  color: black;
  margin-bottom: 0.2em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow-x: hidden;
}

.allclear {
  width: 100%;
  height: 50px;
  margin-top: 0.2em;
  background: #d587ad;
  border: none;
}
.equals {
  width: 100%;
  height: 50px;
  margin-top: 0.2em;
  background: #4fa386;
  border: none;
}
.button {
  border-radius: 0;
  width: 50px;
  height: 50px;
  border: none;
}

.button:hover {
  background: #4d576a;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
